
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/listar-productos">Refaccionaria Yuriria</a>
      <button class="navbar-toggler" routerLink="/" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/listar-productos">Refacciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/listar-proveedores">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="">Usuarios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE REFACCIONES</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
                    <table *ngIf="listProductos.length > 0" class="table table-striped mt-1">
                        <thead class="table-dark">
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let producto of listProductos">
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.categoria }}</td>
                            <td>{{ producto.stock }}</td>
                            <td>{{ producto.precio | currency: 'MXN' }}</td>
                            <td>
                                <i [routerLink]="['/editar-producto', producto._id]" class="fa-solid fa-pen-to-square text-primary"></i>
                                <i (click)="eliminarProducto(producto._id)" class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 style="text-align: center; margin-top: 10px;" *ngIf="listProductos.length == 0">No hay productos para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>
